<div class="links">
    <div class="social">
        <a href="https://github.com/AmaDevCode">
        <div class="ico"><i class='bx bxl-github'></i></div>
        <div class="media">GitHub</a></div>
    </div>
    <div class="social">
        <a href="https://www.linkedin.com/in/amonx">
        <div class="ico"><i class='bx bxl-linkedin-square'></i></div>
        <div class="media">LinkedIn</div></a>
    </div>
    <div class="social">
        <a href="https://www.youtube.com/@comtips">
        <div class="ico"><i class='bx bxl-youtube'></i></div>
        <div class="media">YouTube</div></a>
    </div>
</div>
<div class="copyright">
    Blogmon @2024 CodeAmaDev
</div>