<h1 class="blogmon">Blogmon</h1>
<nav>
    <div class="tabs">
        <li><a href="/">Home</a></li>
        <li><a href="/articles/new">Write</a></li>
        <li><a href="mailto:codeamadev@gmail.com">Contact</a></li>
    </div>
</nav>